<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="The Noah">
  <meta name="description" content="Shoe store website design">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <title>Shoe Store</title>
  <style><%- css.style %></style>
</head>
<body>
  <header>
    <span class="logo">Shoe Store</span>
  </header>
  <noscript style="text-align:center">Please enable JavaScript</noscript>
  <main>
    <div class="image"></div>
    <div class="selector">
      <span><%- include("icon", {icon: "dropdown"}) %></span>
      <div><span>1</span> <small>/</small> <%= shoes.length %></div>
      <span><%- include("icon", {icon: "dropdown"}) %></span>
    </div>
    <div class="panel">
      <h1><%- shoes[0].name.split(" ").join("<br>") %></h1>
      <div class="rating">
        <% for(let i = 0; i < 5; i++){ %>
          <span><%- shoes[0].rating > i ? "&#9733;" : "	&#9734;" %></span>
        <% } %>
      </div>
      <div class="price">$<%- shoes[0].price %></div>
      <label>Size</label>
      <%- include("dropdown", {title: "Select Size", items: ["Small", "Medium", "Large", "Extra Large"]}) %>
      <label>Quantity</label>
      <%- include("dropdown", {title: "1", items: [1, 2, 3, 4, 5]}) %>
      <button onclick="buy()">Buy</button>
    </div>
  </main>
  <footer>Copyright &copy; 2020-2021 <a href="https://thenoah.dev" target="_blank" rel="noopener noreferrer">The Noah</a></footer>
  <script>const shoes=JSON.parse('<%- JSON.stringify(shoes) %>');<%- js.app %></script>
</body>
</html>
